{% extends 'base.html' %}
{% load static %}
{% load imagefit %}


{% block title %}
    {{ service.name }}
{% endblock title %}


{% block content %}
    <div class="services_type">
        <div class="container">
            <div class="search-block">
                <form action="">
                    <div class="row">
                        <img src="{% static 'images/logo.png' %}" alt="main-logo">
                        <input id="main-search" type="text" placeholder="Объявлений на сайте: 0">
                        <select name="city-select" id="city-select">
                            <option value="1">Краснодар</option>
                            <option value="1">Майкоп</option>
                        </select>
                        <button type="submit">Найти</button>
                    </div>
                </form>
            </div>
            <h2>{{ service.name }}</h2>
            <div class="row">
                <div class="services-list">
                    {% for an in an_all %}
                        <div class="service-item">
                            <div class="row">   
                                <img src="{{ an.images.first.image.url|resize:'190x150,C' }}" alt="an-photo">
                                <div class="service-info">
                                    <h3><a href="{% url 'an_detail' an.id %}">{{ an.name|truncatechars:30 }}</a></h3>
                                    <p class="price">{{ an.price }} &#8381;</p>
                                    <p class="posted"><span>{{ an.posted }}</span></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}