{% load static %}

<header>
    <div class="container">
        <div class="row">
            <div class="left-header">
                <a class="main-link" href="{% url 'index' %}">
                    <h1>Mogu.su - Сервис услуг</h1>
                </a>
            </div>
            <div class="right-header">
                {% if user.is_authenticated %}
                    <a class="add-service" href="{% url 'an_create' %}">Разместить услугу</a>
                    <span class="user-name">{{ user.last_name}} {{user.first_name }}</span>
                {% else %}
                    <a class="add-service trigger" href="#">Разместить услугу</a>
                    <a class="login-btn trigger1" href="#">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="modal-add-service">
        <div class="modal">
            <div class="modal-head">
                <img src="{% static 'images/modal-logo.png' %}" alt="">
                <a class="btn-close trigger" href="#">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h3>Разместить объявление:</h3>
            </div>
            <div class="content">
                <p class="modal-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Чтобы разместить объявление, необходимо войти!</p>
                <p class="if-not-reg">Если вас нет в сервисе <b>Могу</b>, вы можете <a id="register" href="#" class="trigger3">Зарегистрироваться</a></p>
                <form action="" class="modalform">
                    <input class="phone" type="text" placeholder="Телефон">
                    <input type="password" placeholder="Пароль">
                    <hr>
                    <button type="submit">Войти</button>
                </form>
                <p class="modal-copyright">При входе вы подтверждаете согласие с <a href="#">условиями использования</a> Mogu.su и <a href="#">политикой о данных пользователей</a>.</p>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="modal-login">
        <div class="modal">
            <div class="modal-head">
                <img src="{% static 'images/modal-logo.png' %}" alt="">
                <a class="btn-close trigger1" href="#">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h3>Вход в личный кабинет:</h3>
            </div>
            <div class="content">
                <p class="if-not-reg">Если вас нет в сервисе <b>Могу</b>, вы можете <a id="register" class="trigger3" href="#">Зарегистрироваться</a></p>
                <form action="" class="modalform">
                    <input class="phone" type="text" placeholder="Телефон">
                    <input type="password" placeholder="Пароль">
                    <hr>
                    <button type="submit">Войти</button>
                </form>
                <p class="modal-copyright">При входе вы подтверждаете согласие с <a href="#">условиями использования</a> Mogu.su и <a href="#">политикой о данных пользователей</a>.</p>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="modal-register">
        <div class="modal">
            <div class="modal-head">
                <img src="{% static 'images/modal-logo.png' %}" alt="">
                <a class="btn-close trigger3" href="#">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <h3>Вход в личный кабинет:</h3>
            </div>
            <div class="content">
                <p class="if-not-reg">Добро пожаловать в <b>Могу</b>! Мы рады приветствовать Вас. Для того чтобы быть с нами, заполните несколько полей и нажмите на кнопку "Регистрация"!</p>
                <form action="" class="modalform">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Фамилия">
                    <input type="text" placeholder="Отчество">
                    <input class="phone" type="text" placeholder="Телефон">
                    <input type="email" placeholder="Почта">
                    <input type="password" placeholder="Пароль">
                    <input type="password" placeholder="Подтверждение пароля">
                    <hr>
                    <button type="submit">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</header>