{% extends 'base.html' %}
{% load static %}
{% load imagefit %}
{% load humanize %}


{% block title %}
    Избранное
{% endblock title %}


{% block content %}
    <div class="profile">
        <div class="container">
            <h2>Избранные объявления</h2>
            <div class="an-list">
                {% for an in ans %}
                    <div class="an-item an-item-{{ an.id }}">
                        <div class="row">
                            <div>
                                <div class="row">
                                    <img src="{{ an.get_main_image.image.url|resize:'190x160,C' }}" alt="service-photo">
                                    <div class="user-an-info">
                                        <h4><a href="{% url 'an_detail' an.id %}">{{ an.name|truncatechars:50 }}</a></h4>
                                        <p class="price">{{ an.price }} &#8381;</p>
                                        <a class="s-type" href="{% url 'search_result' %}?q={{ an.service.service_type.name }}&city-select={{ an.city.id }}&sort_by=3">{{ an.service.service_type.name }}</a>
                                        <p><span>{{ an.address }}</span></p>
                                        <p><span>{{ an.posted|naturaltime }}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="an-controls">
                                <form action="{% url 'remove_favorite' %}" method="GET">
                                    <button name="an_id" value="{{ an.id }}">Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}