{% extends 'base.html' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block content %}
    <div class="container register-messages">
        <div>
            <form id="add_new_an" method="post">
                {% csrf_token %}
                <div class="row">
                    <p>Новый пароль:</p>
                    {{ form.new_password1 }}
                </div>
                <div class="row">
                    <p>Подтверждение пароля:</p>
                    {{ form.new_password2 }}
                </div>

                <button type="submit">Сохранить</button>
                {% for error in form.new_password2.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}

