@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

.d-none {
    display: none;
}

a, a:visited {
    text-decoration: none;
    color: #00f;
}

a:hover{
    text-decoration: underline;
}

body {
    font-size: 1rem;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #333;
}

input::placeholder {
    color: #bbb; 
}

input {
    border: 1px solid #aaa;
}

.container {
    max-width: 900px;
    padding: 0 40px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
header {
    margin-top: 50px;
    position: relative;
}

header .main-link {
    text-decoration: none;
}

header .main-link h1 {
    font-size: 1.25rem;
    color: #a9a9a9;
    font-weight: normal;
}

header .main-link:hover {
    text-decoration: underline #00a0e3;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .right-header>a {
    display: inline-block;
    text-decoration: none;
    line-height: 34px;
}

header .right-header>a:first-child {
    background-color: #00a0e3;
    color: #fff;
    padding: 0 11px;
}

header .right-header>a:last-child {
    margin-left: 40px;
    color: #00a0e3;
}

header #user-name {
    margin-left: 40px;
    text-transform: uppercase;
    color: #333;
}

header .right-header {
    position: relative;
}

header #profile-links {
    position: absolute;
    top: 40px;
    right: -20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    background-color: #fff;
    padding: 20px 25px;
    text-align: right;
}

header #profile-links a {
    color: #777;
    font-size: 0.9rem;
}

header #profile-links hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 0.9rem;
}

footer p {
    margin-top: 5px;
}


/* INDEX */
.index-block {
    text-align: center;
    margin-top: 85px;
}

.index-block h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 50px;
    color: #333;
}

.search-block img {
    width: 102px;
    height: 100%;
    margin-right: 10px;
}

#main-search {
    width: 515px;
    padding: 12px 7px 8px 7px;
    font-size: 1rem;
    color: #666;
    border: 1px solid #9a9a9a;
    box-sizing: border-box;
}

.search-block .row {
    justify-content: center;    
}

.search-block select {
    width: 160px;
    color: #777;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #9a9a9a;
    border-left: none;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/select_arrows.png') no-repeat 95% center;
}

.search-block select::-ms-expand {
    display: none;
}

.search-block button {
    text-transform: uppercase;
    padding: 0 30px;
    background-color: #f0506e;
    color: #fff;
    border: 1px solid #f0506e;
    cursor: pointer;
    height: 40px;
}

.search-block button:hover {
    background-color: #ee395b;
}

.services-list {
    margin-top: 50px;
}


.services-list img {
    width: 190px;
    height: 150px;
}

.service-item {
    margin-top: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.service-item .service-info {
    text-align: left;
    padding: 5px 15px;
    box-sizing: border-box;
    color: #333;
    font-size: 0.9rem;
}

.service-item .service-info h3 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.1rem;
    top: 10;
    position: absolute;
}

.service-info  h3 a {
    color: #00a0e3;
}


.service-info {
    position: relative;
    width: 350px;
}

.service-info .price {
    position: absolute;
    top: 30px;
    font-weight: bold;
    font-size: 1rem;
}

.service-info .posted {
    position: absolute;
    bottom: 10px;
}

.service-info  .city {
    position: absolute;
    bottom: 30px;
}

.s-type {
    position: absolute;
    top: 60px;
    display: inline-block;
    background-color: #6ab73e;
    color: #fff;
    padding: 7px 10px 4px 10px;
}

.user-an-info .s-type {
    position: static;
}

.s-type:visited {
    color: #fff;
}

.service-item .service-info p span {
    color: #777;
    font-size: 0.8rem;
}

/* MODAL */
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-wrapper.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.modal {
    display: block;
    position: absolute;
    top: 0; 
    left: calc(50% - 300px);
    background: #fff;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    width: 600px;
}

.modal-wrapper.open .modal {
    margin-top: 50px;
    opacity: 1;
}

.modal-head { 
    width: 100%;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.btn-close {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.btn-close i {
    font-size: 20px;
    color: #ccc;
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal h3 {
    font-weight: normal;
    margin-top: 30px;
}

.modal .modal-info {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
}

.modal .modal-info i {
    font-size: 1rem;
}

.modal .if-not-reg {
    font-size: 0.9rem;
    text-align: center;
    width: 400px;
    margin: 20px auto;
}

.modal .modalform {
    text-align: center;
}

.modal .modalform input {
    width: 400px;
    padding: 10px 13px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #fff;
}

.modal .form-error {
    color: red;
    font-size: 0.8rem;
}

.modal .modalform hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.modal .modalform button {
    background-color: #00a0e3;
    color: #fff;
    padding: 0 30px;
    border: none;
    line-height: 38px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
}

.modal .modal-copyright {
    padding: 0 40px 30px 40px;
    text-align: center;
    font-size: 0.8rem;
}

/* AN DETAIL*/
.an-detail {
    margin-top: 70px;
}

.an-images {
    width: 500px;
}

.slider-for {
    margin-bottom: 10px;
}

.slider-for img {
    width: 500px;
    height: 300px;
}

.slider-nav .slick-slide.slick-current {
    opacity: 1;
}

.slider-nav .slick-slide {
    opacity: 0.7;
}

.slider-nav .image-div {
    width: 110px;
    height: 70px;
}

.an-info {
    margin-left: 50px;
    width: 350px;
}

.an-info h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    overflow: hidden;
    width: 350px;
}

.an-info p {
    margin-bottom: 10px;
    color: #333;
}

.an-info p span {
    margin-bottom: 10px;
    color: #999;
    font-size: 0.9rem;
}

.an-info .an-phone {
    display: block;
    border: 1px solid #aaa;
    border-radius: 3px; 
    width: 200px;
    font-size: 1.3rem;
    background-color: #00a0e3;
    border: none;
    color: #fff;
    text-align: center;
    padding: 20px 30px;
    margin: 20px 0;
}

.add-to-favorite button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: 260px;
    font-size: 1rem;
}

.add-to-favorite button:hover {
    background-color: #ccc;
}

.add-to-favorite button i {
    font-size: 1.1rem;
    padding-right: 10px;
    color: #d71e1f;
}

.an-passport i {
    color: #6ab73e;
}

.an-passport .an-plus {
    color: #6ab73e;
}

.an-passport .an-minus {
    color: #d71e1f;
}

.an-info .an-price {
    font-size: 1.5rem;
}

.an-desc {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
}

#modal-phone .an-phone-info {
    font-size: 0.9rem;
    color: #d71e1f;
}

#modal-phone h3 {
    font-size: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#modal-phone .if-not-reg {
    font-size: 1.5rem;
    margin-bottom: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.an-social {
    margin-top: 20px;
}

.an-user-name{
    font-size: 1.1rem;
}

.an-social .ya-share2__container_size_m .ya-share2__icon {
    width: 32px;
    height: 32px;
}


/* AN CREATE */
#add_new_an {
    margin-top: 70px;
}

#add_new_an .row {
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

#add_new_an p {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

#add_new_an input, #add_new_an select {
    width: 600px;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

#add_new_an .price-add, #cke_an_description {
    width: 600px;
}

#add_new_an .price-add input {
    width: 200px;
}

#add_new_an button {
    margin: 60px 0;
    display: block;
    padding: 15px 50px;
    background-color: #00a0e3;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

#add_new_an button:hover {
    background-color: #00f;
}

#add_new_an .files-add {
    width: 600px;
    display: flex;
}

#add_new_an .file-add-res {
    margin-left: 20px;
}

#add_new_an .file-add-res p {
    font-size: 0.9rem;
}

#add_new_an input[type=file] {
    outline: 0;
    display: none;
    pointer-events: none;
    user-select: select none;
}

#add_new_an .label{
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2rem;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
}

#add_new_an .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
    color: #aaa;
}

#add_new_an .label i,
#add_new_an .label .title {
    transition: 200ms color;
}

#add_new_an .label .title {
    font-size: 0.9rem;
    width: 110px;
}


#add_new_an .label:hover {
    border: 2px solid #000;
}

#add_new_an .label:hover i,
#add_new_an .label:hover .title {
    color:#000;
}



/* PROFILE */
.profile {
    margin-top: 70px;
}

.profile #user-photo {
    margin-right: 20px;
}

.profile .profile-info h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.profile .profile-info p {
    padding-bottom: 10px;
}

.profile .profile-info a {
    display: inline-block;
    padding: 10px;
    background-color: #00a0e3;
    color: white;
}

#an-type-link {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}

#an-type-link a {
    color: #333;
    font-size: 0.9rem;
}

#an-type-link .an-active-link {
    color: blue;
    font-size: 1.1rem;
}

#an-type-link .an-active-link:hover {
    text-decoration: none;
}

.profile h3 {
    margin-top: 50px;
}

.profile .an-item {
    margin-top: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    justify-content: space-between;
}

.profile .an-item>.row {
    justify-content: space-between;
}

.an-item .user-an-info {
    text-align: left;
    padding: 5px 15px;
    color: #333;
    font-size: 0.9rem;
}

.an-item .user-an-info h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.1rem;
}

.an-item .user-an-info p span {
    color: #777;
}

.an-item .user-an-info p {
    margin: 10px 0;
}

.an-item .user-an-info .price {
    font-weight: bold;
    font-size: 1rem;
}


.an-item  .an-controls a {
    margin-top: 5px;
    display: block;
    padding: 0 20px;
    color: #333;
    font-size: 0.9rem;
    text-decoration: underline;
}

.an-item  .an-controls a:hover {
    text-decoration: none;
}

.an-item  .an-controls {
    padding-top: 50px;
    background: #f0f0f0;
}

.an-item  img {
    width: 190px;
}


/* REGISTER */
.register-messages h3 {
    margin: 70px 0;
}


/* SERVICE TYPE */
.services_type .search-block {
    margin-top: 70px;
}

.services_type h2 {
    margin: 50px 0 0 0;
}

.an_types_all {
    width: 250px;
    margin-right: 20px;
}

.an_types_all ul {
    list-style-type: none;
}

.an_types_all>ul li a {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 15px;
}

.an_types_all a {
    color: #00a0e3;
    text-decoration: none;
}

.an_types_all>ul li {
    position: relative;
}

.an_types_all i {
    color: #ccc;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.an_types_all a:hover {
    color: red;
}

.an_types_all>ul li ul li {
    padding-left: 30px;
}

.services-list .service-item {
    margin: 0 0 30px 0;
}

/* TYPEAHEAD */
.input-group.input-group-sm {
    margin-bottom: 10px;
}

.tt-dataset.tt-dataset-ans_list_search,
.tt-dataset.tt-dataset-service_types_list_search,
.tt-dataset.tt-dataset-services_list_search {
    color: #333;
    background: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left;
}

.tt-suggestion {
    text-align: left;
    padding: 3px 10px;
    font-size: 1rem;
}

.typeahead {
    outline: none;
}
.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}
.tt-menu {
    width: 513px;
    border: 1px solid #9a9a9a;
    border-top: none;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-hint {
    display: none;
}

.tt-highlight {
    color: #333;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

















@media screen and (max-width: 992px) {
}


